<h1>Hello, <%= @user.name %></h1>
<p>
  Please click the link below to activate your account.
  <%= link_to "Activate your account !", edit_account_activation_url(@user.activated_token, email: @user.email) %>
</p>