<h1>Password Reset for Sample App</h1>
<p>Please click the link below to reset your account's Password.</p>
<%= link_to "Reset your password!", edit_password_reset_url(@user.reset_token, email: @user.email) %>