<div class="card my-1">
  <div class="row no-gutters">

    <div class="col-1">
      <%= show_avatar comment.user, "card-img", nil %>
    </div>

    <div class="col-10">
      <div class="card-body">
        <%= render "shared/micropost_title", micropost: comment %>
        <p class="card-text"><%= comment.content %></p>
        <!-- not render micropost_content for now until comments are allowed to add img and viewed individually -->
      </div>
    </div>

  </div>
</div>