<div class="card my-3">
  <div class="row no-gutters">

    <div class="col-2">
      <%= show_avatar share.user, "card-img", nil %>
    </div>

    <div class="col">
      <div class="card-body">
        <%= render "shared/micropost_title", micropost: share %>
        <%= render "shared/micropost_content", micropost: share %>
      </div>
    </div>

  </div>
</div>