<% provide(:title, @title)%>

<div class="row">
  <div class="col-4">
    <%= render "shared/user_info", user: @current_user %>
  </div>
  <div class="col-8">
    <h3 class="text-center"><%= @title %></h3>
    <%= render "users/users_table" %>
  </div>
</div>