<%== pagy_bootstrap_nav(@pagy) %>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col-8">Name</th>
      <th scope="col-4">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "users/user", collection: @users, cached: -> user { [current_user, user, @relationship] } %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>