<tr>

  <td>
    <p>
      <%= show_avatar(user, nil, "height: 100px; width: 100px") %>
      <%= link_to user.name, user_path(user) %>
    </p>
  </td>

  <td class="align-middle">
    <div class="row">
      <div class="col-8" id="follow_button">
        <%= follow_button_html(user) %>
      </div>
      <div class="col-4">
        <%= delete_button(user) %>
      </div>
    </div>
  </td>
  
</tr>