<tr>
  <td>
    <%= link_to user.name, user_path(user) %>
  </td>
  <td>
    <%= user.feed.size %>
  </td>
  <td>
    <% if login? %>
      <% if current_user.admin? && !user.admin %>
        <%= link_to "delete", user_path(user), method: "delete", 
                                           data:{ confirmation: "Are you sure?"} %>
      <% end %>
    <% end %>
  </td>
</tr>