<%= will_paginate @users %>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col-8">Name</th>
      <th scope="col-4">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "users/user", collection: @users, cached: -> user { [user, @relationship] } %>
  </tbody>
</table>
<%= will_paginate @users %>