<tr>

  <td>
    <p>
      <% cache [user, "user#avatar", user.avatar_attachment] do %>
        <%= show_avatar(user, nil, "height: 100px; width: 100px") %>
      <% end %>
      <%= link_to user.name, user_path(user) %>
    </p>
  </td>

  <td class="align-middle">
    <div class="row">
      <div class="col-8" id="follow_button">
        <% cache [current_user, user, @relationship, current_user.follow?(user) ] do %>
          <%= follow_button_html(user) %>
        <% end %>
      </div>
      <div class="col-4">
        <%= delete_button(user) %>
      </div>
    </div>
  </td>
  
</tr>