<% provide(:title, @title)%>

<div class="row">
  <div class="col-4">
    <%= render "shared/user_info", user: @user %>
  </div>
  <div class="col-8">
    <h3 class="text-center"><%= @title %></h3>
    <%= will_paginate @users %>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>