<% provide(:title, "User Porfile")%>

<div class="row">
  <div class="col-4">
    <%= render "shared/user_info", user: @user %>
  </div>
  <div class="col-8">
    <%= will_paginate @posts %>
    <ol>
      <%= render partial: "posts/post", collection: @posts, cached: true %>
    </ol>
    <%= will_paginate @posts %>
  </div>
</div>