<% provide(:title, "User Porfile")%>

<div class="row">
  <div class="col-4">
    <%= render "shared/user_info", user: @user %>
  </div>
  <div class="col-8">
    <%== pagy_bootstrap_nav @pagy %>
    <ol>
      <%= render partial: "posts/post", collection: @posts, cached: -> post{[post, @user, current_user]} %>
    </ol>
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>