<% provide(:title, "User Porfile")%>

<div class="row">
  <div class="col-4">
    <%= render "shared/user_info", user: @user %>
  </div>
  <div class="col-8">
    <%= will_paginate @microposts %>
    <ol>
      <%= render @microposts %>
    </ol>
  </div>
</div>