<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= fa_icon(icon, text: post.send(counter), id: "#{action}-icon") %>
  </a>
  <div class="dropdown-menu justify-content-start">
    <%= form_for(Micropost.new, url: "/posts/#{post.id}/#{action}", remote: true) do |f| %>
      <%= f.text_field :content, class: "dropdown-item", style: "width: 550px", placeholder: "#{action.capitalize}:" %>
    <% end %>
  </div>
</div>
