<div class="card">
  <img src="#" alt="#" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title"><%= user.name %></h5>
    <p class="card-text"><%= user.email%></p>
  </div>
</div>