<footer class="footer">
  <ul class="nav nav-tabs justify-content-end pr-5 my-5">
    <li class="nav-item">
      <%= link_to "Help", help_path, class: "nav-link " %> 
    </li>
    <li class="nav-item">
      <%= link_to "Contact", contact_path, class: "nav-link" %>
    </li>
  </ul>
</footer>